<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/app.css" />
    <title>Currency Converter</title>
  </head>
  <body>
    <form action="/conversion">
      <label for="currencyFrom">Converting From:</label>
      <input name="currencyFrom" placeholder="ex. USD" />
      <br /><br />
      <label for="currencyTo">Converting To:</label>
      <input name="currencyTo" placeholder="ex. EUR" />
      <br /><br />
      <label for="amount">Amount:</label>
      <input name="amount" placeholder="0" />
      <br /><br />
      <button>Submit</button>
      <div class="err">{{err_msg}}</div>
    </form>
  </body>
</html>
